<div class="container">
  <h1>All Restaurants</h1>
  <%= link_to '+ Add a new restaurant', new_restaurant_path %>
  <br>
  <p> ----------------------------------------------------------------------------------------------------------------- </p>
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <h4><%= restaurant.category %></h4>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p>
      <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
       |
      <%= link_to 'Delete', restaurant_path(restaurant), data: {confirm: "Are you sure?"}, :method => :delete%>
       |
      <%= link_to '+ Add review', new_restaurant_review_path(restaurant) %>
    </p>
  <%end  %>
</div>
